@import "varibles";
@import "mixins";

.boost{
    &__container{
        position: relative;
        background: $darkViolet;
        padding: 6.2rem 2.375rem 5rem 2.375rem;
        text-align: center;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url("../../images/bg-boost-mobile.svg");
            background-size: cover;
            background-position: 50% 50%;
            
        }
    }

    &__title{
        position: relative;
        color: #fff;
        margin-bottom: 1.5rem;
        z-index: 1;
    }

    &__btn{
        position: relative;
        z-index: 1;
    }
   
    @include breakpoint-up(large){

        &__container{
           
            &::before{
                background-image: url("../../images/bg-boost-desktop.svg"); 
            }
        }
        &__title{
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    
        &__btn{
            padding: 1rem 2.5rem;
            font-size: 1.2rem;
        }
    }
}

