@import "varibles";
@import "mixins";

.footer {
  background: $veryDarkViolet;

  &__container {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
    text-align: center;
  }

  &__logo {
    svg > path {
      fill: #fff;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    .links__wrap {
      h4 {
        color: #fff;
      }

      li > a {
        color: $gray;
        line-height: 2;
      }
    }
  }

  &__social {
    padding-top: 2rem;
  }
  &__icon {
    padding: 0 0.75rem;
  }

  @include breakpoint-up(large) {
    .footer{
      &__container{
        display: flex;
      }
      &__links{
        grid-template-columns: repeat(3,1fr);
        text-align: start;
        margin-top: 0;
        flex: 1;
      }

      &__logo{
        text-align: start;
        flex: 1;
      }
      &__social{
        padding-top: 0;
      }
    }
  }
}
