@import "mixins";
@import "varibles";

.header {
  position: relative;

  &__nav{
    padding: 2.5rem 1rem 1rem 1rem;
    @include breakpoint-up(large){
      padding: 3.125rem 0 1.5rem 0;
    }
  }

  &.open {

    .toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }

  }

  &__logo{


  }

  &__menu {
    flex: 1;
    padding-left: 1rem;

    a{
      margin-left: 30px;
      color: $grayishViolet;
      font-weight: 500;
      transition: color .3s ease-in-out;

      &:hover {
        color: $veryDarkViolet;
      }
    }
  }

  &__btns{

    .btn-log{
      background: white;
      border: none;
      font-weight: 500;
      color: $grayishViolet;
      padding: 0.8125rem 1.375rem;
      cursor: pointer;
    }
    .btn-sgn {
      color: #ffffff;
      border: none;
      border-radius: 50px;
      background: $cyan;
      padding: 0.8125rem 1.375rem;
      cursor: pointer;
      transition: background-color .3s ease-in-out;

      &:hover{
        background: $cyanLight;
      }
    }

  }

  // Toggle Menu


  .toggle{
    >span{
      display: block;
      width: 26px;
      height: 2px;
      background: $grayishViolet;
      transform-origin: 3px 1px;
      transition: all .3s ease-in-out;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  .toggle-menu{
    padding: 2.875rem 1.5rem 2.5rem 1.5rem;
    background: $darkViolet;
    width: 20.375rem;
    //height: 23.875rem;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-500px);
    z-index: 1;




    .toggle__items{
      flex-direction: column;
      padding:0 6rem;
      border-bottom: 1px hsl(257, 30%, 38%) solid;
      margin-bottom: 1.375rem;
      a{
        color: white;
        font-weight: 500;
        padding-bottom: 2.375rem;
        font-size: 1rem;
      }

    }

    .toggle__btns{

      flex-direction: column;

      .toggle__btn-log{
        background: none;
        border: none;
        font-weight: 500;
        color: white;
        padding: 0.8125rem 1.375rem;
        cursor: pointer;
        font-size: 1rem;
      }
      .toggle__btn-sgn{
        color: #ffffff;
        border: none;
        border-radius: 50px;
        background: $cyan;
        padding: 1rem 6.625rem;
        cursor: pointer;
        font-size: 1rem;
      }
    }

  }

}