@import "varibles";
@import "mixins";

.hero {
  &__main {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(large) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    grid-area: 2;
    padding: 1rem 1.875rem;
    text-align: center;
    h1 {
      font-size: 1.875rem;
      color: $veryDarkViolet;
      font-weight: 700;
      margin-top: 1.2rem;
      line-height: 2.2rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      margin-top: 1.2rem;
    }

    button {
      margin-top: 1.8rem;
    }
  }

  &__img {
    grid-area: 1;
    position: relative;
    min-height: 19.8rem;
    max-width: 100%;
    background-image: url("../../images/illustration-working.svg");
    background-position: -15% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;

    .hero__form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      min-height: 10rem;
      background: $darkViolet;
      margin: 0 auto;
      border-radius: 10px;
      

      &::before{
        content: "";
        position: absolute;
        background-image: url("../../images/bg-shorten-mobile.svg");
        background-size: cover;
        height: 8rem;
        width: 69%;
        top: 0;
        right: 0;
        border-top-right-radius: 10px;
        
      }

      .link-input {
        position: relative;
        z-index: 1;
        width: 90%;
        height: 3rem;
        border: none;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 500;
      }

      .submit-btn {
        position: relative;
        z-index: 1;
        color: #fff;
        background: $cyan;
        width: 90%;
        height: 3rem;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
