@import "varibles";
@import "mixins";

.info {
  background-color: $sectionColor;
  padding-top: 10.75rem;
  margin-top: -5rem;

  &__container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__title {
    color: $veryDarkViolet;
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
  }

  &__text {
    color: $grayishViolet;
    padding: 0 2rem 6rem 2rem;
    line-height: 1.6;
  }

  &__card {
    background: #fff;
    border-radius: 8px;
    padding: 5.125rem 2.25rem 2.625rem 2.25rem;
    max-width: 90%;
    height: 16.6875rem;
    margin-left: auto;
    margin-right: auto;

    &:not(.card-3) {
      margin-bottom: 5.5rem;
    }
  }

  .card__title {
    font-size: 1.3rem;
    font-weight: 700;
    color: $veryDarkViolet;
    padding-bottom: 1.375rem;
  }

  .card__text {
    line-height: 1.6;
  }

  .card-1 {//icon for card 1
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkViolet;
        background-image: url("../../images/icon-brand-recognition.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;

    }

    &::after {
        content: "";
        position: absolute;
        width: .5rem;
        height: 5.5rem;
        background: $cyan;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5.5rem;
    }
  }

  .card-2 { //icon for card 2
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkViolet;
        background-image: url("../../images/icon-detailed-records.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;

    }

    &::after {
        content: "";
        position: absolute;
        width: .5rem;
        height: 5.5rem;
        background: $cyan;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5.5rem;
    }
  }

  .card-3 { //icon for card 3
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2.25rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $darkViolet;
        background-image: url("../../images/icon-fully-customizable.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;

    }

   
  }
}
